:root {
  --verde-escuro: #021c18;
  --preto: #000;
  --verde: #14453d;
  --verde-claro: #30a06b;
  --branco: #fff;
  --cinza-claro: #f0f7f4;
  --cinza: #bbb;
  --vermelho: #e52828;
  --font-family: "Poppins", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family: var(--font-family);
  background: var(--branco);
}
